.address{
	width: 100%;
	height: 100px;
	background: #FFEA00;
}
p{
	margin: 0px;
	
}
#address1,#address2{
	position: relative;
	margin-left: 10%;
	margin-bottom: 1%;
	padding-top: 1%;
}

.link{
	text-shadow: 1px 1px 10px black;
}